.container {
    background-color: beige;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction + flex-wrap = flex-flow */
    /* flex-flow: column nowrap */

    justify-content: space-between; /* main axis */
    align-items: baseline; /* cross axis */
    align-content: center;
}

.item {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.item1, .item11{
    background-color: #ef9a9a;
}

.item2, .item12{
    background-color: #f48fb1;
}

.item3, .item13{
    background-color: #ce93d8;
}

.item4, .item14{
    background-color: #b39ddb;
}

.item5, .item15{
    background-color: #90caf9;
}

.item6, .item16{
    background-color: #a5d6a7;
}

.item7, .item17{
    background-color: #e6ee9c;
}

.item8, .item18{
    background-color: #fff59d;
}

.item9, .item19{
    background-color: #ffcc80;
}

.item10, .item20{
    background-color: #ffab91;
}